<br><br>
<div class="col-md-8">
  <h1>店名：<%= @shop.name %></h1>
</div>

<div class="col-md-8">
  <h3>住所：<%= @shop.address %></h3>
</div>

<div class="col-md-8">
  <h5>投稿件数： <%= @total_reviews_count %>件</h5>
</div>

<br>
<%= paginate @reviews %>
<!--ページ幅に合わせてカードの列数を減少させる-->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center">
        <%= link_to "投稿する", new_shop_review_path(shop_id: @shop.id), class: "btn btn-primary rounded-pill" %>
      </div>
    </div>
  </div>
  <% @reviews.each do |review| %>
    <div class="col">
      <div class="card h-100">
        <a href="<%= review_path(review) %>">
          <%= image_tag review.image.url, class: "card-img-top", alt: "", size: "" %>
        </a>
        <div class="card-body">
          <h5 class="card-title show-star <%=review.id%>"><%= review.rate %></h5>
          <p class="card-text">コメント：<%= review.comment %></p>

          <!--モーダルのトリガーボタン-->
          <% if current_user && current_user.id == review.user_id %>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="<%= "#review_modal_#{review.id}" %>">
              削除
            </button>
          <% end %>

          <!--モーダルの実装-->
          <div class="modal fade" id="<%= "review_modal_#{review.id}" %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >削除しますか？</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ＊削除したら元には戻せません
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                  <%= button_to '削除する', review, method: :delete, class: 'btn btn-danger' %>
                </div>
              </div>
            </div>
          </div>

          <!--編集ボタン & editページへの遷移-->
          <% if current_user && current_user.id == review.user_id %>
            <%= link_to "編集", edit_review_path(review), class: "btn btn-primary" %>
          <% end %>

        </div>
      </div>
    </div>
  <% end %>
</div>
<br><br>
<script>
  window.onload = function onLoad() {
    let rates = document.querySelectorAll('.show-star');
    for (let i=0; i<rates.length; i++) {
      let html = ""
      for (let j=0; j<rates[i].innerText; j++) {
        html += "<div class='star d-inline-block'></div>";
      }
      // debugger
      // if (rates[i].innerHTML-j > 0) {
      //   html += "<div class='half-star'>"
      //   i += 1;
      // }
      rates[i].innerHTML = '評価:' + html;
    }
  }
</script>
