<div class="col-md-8">
  <h1>店名：<%= @shop.name %></h1>
</div>

<div class="col-md-8">
  <h2>住所：<%= @shop.address %></h2>
</div>

<div class="col-md-8">
  <h3>投稿件数： <%= @reviews.count %>件</h3>
</div>

<div class="row row-cols-1 row-cols-md-4 g-5">
  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center">
        <%= link_to "投稿する", new_review_path , class:"btn btn-primary rounded-pill"%>

      </div>
    </div>
  </div>
  <% @reviews.each do |review| %>
    <div class="col">
      <div class="card h-100">
        <a href="<%= review_path(review) %>">
          <img src="https://user0514.cdnw.net/shared/img/thumb/nichinanIMGL0073_TP_V.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">評価：<%= review.rate %></h5>
          <p class="card-text">コメント：<%= review.comment %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
