<br>
<h1 style="font-size: 26px;">名前 : <%= @user.name %></h1>
<br>
<div class="stats">
  <a href="<%= following_user_path(@user) %>" style="text-decoration: none; color: black;">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>" style="text-decoration: none; color: black;">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>

<div id ="follow_button_container11">
  <% if user_signed_in? && current_user != @user%>
    <%= turbo_frame_tag "follow_button" do %>
      <% if current_user.following?(@user) %>
        <%= render 'relationships/unfollow', locals: { user: @user } %>
      <% else %>
        <%= render 'relationships/follow', locals: { user: @user} %>
      <% end %>
    <% end %>
  <% end %>
</div>

<br><br>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
  <% @reviews.each do |review| %>
    <div class="col">
      <div class="card h-100">
        <a href="<%= review_path(review) %>">
          <img src="https://tblg.k-img.com/restaurant/images/Rvw/167047/640x640_rect_ad57e011b05b9d846441a04c43ab61bb.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">評価：<%= review.rate %></h5>
          <p class="card-text">コメント：<%= review.comment %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<br>