<% if user_signed_in? && @review.user.present? && current_user != @review.user%>
  <%= turbo_frame_tag "user_name" do %>
    <%= link_to @review.user.name, user_path(@review.user), style: "text-decoration: none; color: black;" %>
  <% end %>
  <%= turbo_frame_tag "follow_button" do %>
    <% if current_user.following?(@review.user) %>
      <%= render 'relationships/unfollow', locals: { user: @review.user } %>
    <% else %>
      <%= render 'relationships/follow', locals: { user: @review.user } %>
    <% end %>
  <% end %>
<% end %>

<br>
<h1><%= @review.shop.name %></h1>
<h3>評価: <%= @review.rate%></h3>
<h3>住所: <%= @review.shop.address %></h3>
<br><br>

<%= image_tag @review.image.url, alt: "...", size: "400x400", class: "border" %>

<br><br>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-labl">コメント</label>
  <textarea class="w-50 form-control" id="reviewComment" rows="4" readonly><%= @review.comment %></textarea>
</div>
<br>

<p>カウンター席があるかどうか</p>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="counterSeets" id="inlineRadio1" value="option1" <%= @review.counter_sheets_available ? "checked" : ""%> readonly>
  <label class="form-check-label" for="inlineRadio1">はい</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="counterSeets" id="inlineRadio2" value="option2" <%= @review.counter_sheets_available ? "" : "checked"%> readonly>
  <label class="form-check-label" for="inlineRadio2">いいえ</label>
</div>　
<br><br>

<p>ひとり用のテーブル席があるかどうか</p>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="solopTables" id="inlineRadio1" value="option1" <%= @review.solo_tables_available ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio3">はい</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="soloTables" id="inlineRadio2" value="option2" <%= @review.solo_tables_available ? "" : "checked" %> readonly>
  <label class="form-check-label" for="inlineRadio4">いいえ</label>
</div>
<br><br>


<p>ひとり客の利用が多いかどうか</p>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="frecentSoloVisitorsOptions" id="inlineRadio1" value="1" <%= @review.frequent_solo_visitors == 1 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio1">1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="frecentSoloVisitorsOptions" id="inlineRadio2" value="2" <%= @review.frequent_solo_visitors == 2 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio2">2</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="frecentSoloVisitorsOptions" id="inlineRadio3" value="3" <%= @review.frequent_solo_visitors == 3 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio3">3</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="frecentSoloVisitorsOptions" id="inlineRadio4" value="4" <%= @review.frequent_solo_visitors == 4 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio4">4</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="frecentSoloVisitorsOptions" id="inlineRadio5" value="5" <%= @review.frequent_solo_visitors == 5 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio5">5</label>
</div>
<br><br>


<p>注文がしやすいかどうか</p>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="easyOrder" id="inlineRadio1" value="1" <%= @review.easy_to_order == 1 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio1">1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="easyOrder" id="inlineRadio2" value="2" <%= @review.easy_to_order == 2 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio2">2</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="easyOrder" id="inlineRadio3" value="3" <%= @review.easy_to_order == 3 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio3">3</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="easyOrder" id="inlineRadio4" value="4" <%= @review.easy_to_order== 4 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio4">4</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="easyOrder" id="inlineRadio5" value="5" <%= @review.easy_to_order == 5 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio5">5</label>
</div>
<br><br>


<p>商品の提供スピードは速いかどうか</p>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="deliverySpeed" id="inlineRadio1" value="1" <%= @review.delivery_speed== 1 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio1">1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="deliverySpeed" id="inlineRadio2" value="2" <%= @review.delivery_speed== 2 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio2">2</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="deliverySpeed" id="inlineRadio3" value="3" <%= @review.delivery_speed == 3 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio3">3</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="deliverySpeed" id="inlineRadio4" value="4" <%= @review.delivery_speed == 4 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio4">4</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="deliverySpeed" id="inlineRadio5" value="5" <%= @review.delivery_speed == 5 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio5">5</label>
</div>
<br><br>


<p>店内の雰囲気は良いかどうか</p>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inCalmness" id="inlineRadio1" value="1" <%= @review.calmness == 1 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio1">1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inCalmness" id="inlineRadio2" value="2" <%= @review.calmness == 2 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio2">2</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inCalmness" id="inlineRadio3" value="3" <%= @review.calmness == 3 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio3">3</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inCalmness" id="inlineRadio4" value="4" <%= @review.calmness == 4 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio4">4</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inCalmness" id="inlineRadio5" value="5" <%= @review.calmness == 5 ? "checked" : "" %> readonly>
  <label class="form-check-label" for="inlineRadio5">5</label>
</div>
<br><br>