<% if user_signed_in? && @review.user.present? && current_user != @review.user %>
  <br>
  <div class="card" style="width: 25rem; height: 5rem;" onclick="handleCardClick(event, '<%= user_path(@review.user) %>')"> 
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="flex-grow-1">
          <%= turbo_frame_tag "user_name", class: "user-name-in-review" do %>
            <%= link_to @review.user.name, user_path(@review.user), style: "text-decoration: none; color: black; white-space: nowrap;" %>
          <% end %>
        </div>
        <div>
          <%= turbo_frame_tag "follow_button", class: (current_user.following?(@review.user) ? "unfollow-btn" : "follow-btn") do %>
            <% if current_user.following?(@review.user) %>
              <%= render 'relationships/unfollow', locals: { user: @review.user } %>
            <% else %>
              <%= render 'relationships/follow', locals: { user: @review.user } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  function handleCardClick(event, url) {
    // イベントの伝播を止める
    event.stopPropagation();

    // クリックした要素がフォローボタンやその子要素でなければリダイレクト
    if (!event.target.closest('.follow-btn') && !event.target.closest('.unfollow-btn')) {
      window.location.href = url;
    }
  }
</script>

<br>
<h2 class="shop-name-in-review"><%= @review.shop.name %></h2>

<h3 class="show-star <%=@review.id%>"><%= @review.rate %></h3>
<h10>住所: <%= @review.shop.address %></h10>
<br><br>

<%= image_tag @review.image.url, alt: "...", size: "400x400", class: "border" %>

<br><br>

<%= form_with(model: @review, method: :GET, url: review_path(@review)) do |f| %>

  <div class="form-group">
    <%= f.label :comment, "コメント" %>
    <br>
    <%= f.text_area :comment, class: "form-control-review-comment", disabled: true%>
  </div>
  <br>
    
  <div class="form-group">
    <%= f.label :counter_sheets_available, "カウンター席があるかどうか" %>
    <br>
    <div class="form-check form-check-inline">
      <%= f.radio_button :counter_sheets_available, 1, @review.counter_sheets_available == true ? { checked: true, readonly: true } : { readonly: true }%>
      <%= f.label :counter_sheets_available, 'ある', value: 1, class: "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :counter_sheets_available, 0, @review.counter_sheets_available == false ? { checked: true, readonly: true } : { readonly: true }%>
      <%= f.label :counter_sheets_available, 'なし', value: 0, class: "form-check-label" %>
    </div>
  </div>
  <br>

  <div class="form-group">
    <%= f.label :solo_tables_available, "ひとり用のテーブル席があるかどうか" %>
    <br>
    <div class="form-check form-check-inline">
      <%= f.radio_button :solo_tables_available, 1, @review.solo_tables_available == true ? { checked: true, readonly: true } : { readonly: true }%>
      <%= f.label :solo_tables_available, 'ある', value: 1, class: "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :solo_tables_available, 0, @review.solo_tables_available == false ? { checked: true, readonly: true } : { readonly: true }%>
      <%= f.label :solo_tables_available, 'なし', value: 0, class: "form-check-label" %>
    </div>
  </div>
  <br>

  <div class="form-group">
    <%= f.label :frequent_solo_visitors, "ひとり客の利用が多いかどうか" %>
    <br>
    <% for button_num in (1..5) do %>
      <%= f.radio_button :frequent_solo_visitors, button_num, checked: @review.frequent_solo_visitors == button_num, readonly: true%>
      <%= f.label :frequent_solo_visitors, value: button_num %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--　←ボタン間にスペースをつくるための処理-->
    <% end %>
  </div>
  <br>

  <div class="form-group">
    <%= f.label :frequent_solo_visitors, "注文がしやすいかどうか" %>
    <br>
    <% for button_num in (1..5) do %>
      <%= f.radio_button :easy_to_order, button_num, checked: @review.easy_to_order == button_num, readonly: true %>
      <%= f.label :easy_to_order, value: button_num %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--　←ボタン間にスペースをつくるための処理-->
    <% end %>
  </div>
  <br>

  <div class="form-group">
    <%= f.label :delivery_speed, "商品の提供スピードは速いかどうか" %>
    <br>
    <% for button_num in (1..5) do %>
      <%= f.radio_button :delivery_speed, button_num, checked: @review.delivery_speed == button_num, readonly: true %>
      <%= f.label :delivery_speed, value: button_num %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--　←ボタン間にスペースをつくるための処理-->
    <% end %>
  </div>
  <br>

  <div class="form-group">
    <%= f.label :delivery_speed, "店内の雰囲気は良いかどうか" %>
    <br>
    <% for button_num in (1..5) do %>
      <%= f.radio_button :calmness, button_num, checked: @review.calmness == button_num, readonly: true %>
      <%= f.label :calmness, value: button_num %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--　←ボタン間にスペースをつくるための処理-->
    <% end %>
  </div>
  <br>
<% end %>

<script>
  window.onload = function onLoad() {
    let rates = document.querySelectorAll('.show-star');
    for (let i=0; i<rates.length; i++) {
      let html = ""
      for (let j=0; j<rates[i].innerText; j++) {
        html += "<div class='star d-inline-block'></div>";
      }
      // debugger
      // if (rates[i].innerHTML-j > 0) {
      //   html += "<div class='half-star'>"
      //   i += 1;
      // }
      rates[i].innerHTML = '評価:' + html;
    }
  }
</script>
