<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-lg">
      <%= link_to 'ソロログ', root_path, class: "nav-link, navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup" >
        <div class="navbar-nav">
          <% if user_signed_in? %>
            <%= link_to 'ホーム', root_path, method: :get, class: "nav-link" %>
            <button type="button" class="btn btn-warning nav-link text-start" data-bs-toggle="modal" data-bs-target="#logoutModal">
              ログアウト
            </button>
            <%= render 'layouts/logout_modal' %>
          <% elsif admin_signed_in? %>
            <%= link_to '管理画面ログアウト', destroy_admin_session_path, method: :get, class: "nav-link" %>
          <% else %>
            <%= link_to '新規登録', new_user_registration_path, method: :get, class: "nav-link" %>
            <%= link_to 'ログイン', new_user_session_path, method: :get, class: "nav-link" %>
            <%= link_to '飲食店一覧', shops_path, method: :get, class: "nav-link" %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>