<!DOCTYPE html>
<html>
  <head>
    <title>SoloLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/flashes' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>

  <script>
    function starRate(event) {
      const starElement = event.target.parentElement;
      const starElements = starElement.parentElement.getElementsByClassName('star-rate');
      starElement.firstElementChild.checked = true;
      uncheckAllStars(starElements);
      checkOrLessSelected(starElements, starElement);
      starElement.classList.add('checked-star')
    }

    function uncheckAllStars(starElements) {
      for (let i=0; i<starElements.length; i++) {
        starElements[i].classList.remove('checked-star');
      }
    }

    function checkOrLessSelected(starElements, starElement) {
      let indexSelectedStar = 0;
      for (let i=0; i<starElements.length; i++) {
        if (starElements[i] === starElement) {
          indexSelectedStar = i;
          break;
        }
      }
      for (let i=0; i<indexSelectedStar; i++) {
        starElements[i].classList.add('checked-star');
      }
    }

  </script>

</html>
